body{
    padding: 50px 20px 0px 20px;

}

#headerWrapper{
    position: relative;
    padding: 20px;
    /*margin: 20px;*/
    overflow: hidden;
    height: 300px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 400px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

/*for login page*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*for labels*/

label {
    width:180px;
    clear:left;
    /*text-align:right;*/
    padding-right:10px;
}

.error {color: #FF0000;}

.pagination_link:active{
    color: #FFF;
    background-color: #600;

}

.pagination_link:hover{
    background-color: #2aabd2;
}


